@import '~bootstrap/scss/bootstrap';
@import 'components';
@import './mixins';
@import './variables';
@import './text';

@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700');

:root {
  --black: #1c1e21;
  --blueberry: #{$primary};
  --body-copy: #696f76;
  --brown-grey: #8e8e8e;
  --gunmetal-grey: #{$secondary};
  --jade: #1e9a93;
  --light-grey: #c4c4c4;
  --sand-grey: #f3f2f1;
  --tealish: #20a49d;
}

// Bootstrap overrides
$border-radius: 0px;
$border-radius-lg: 0px;
$border-radius-sm: 0px;

$header-width-constraint: 1025px;

html {
  height: 100%;
}

body {
  min-width: 320px;
  height: 100%;
  overflow-x: hidden;

  > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
  }
}

.btn-link {
  text-decoration: underline;
}

.modal-body {
  .row {
    .col {
      @include font-size(16px);
      @include media-breakpoint-down(xs) {
        @include font-size(12px);
      }
    }
  }
}

.modal-dialog {
  @include media-breakpoint-down(xs) {
    width: 90%;
    margin: 3%;
  }
}

.hidden-xs-down {
  @include media-breakpoint-down(xs) {
    display: none !important;
  }
}

.hidden-sm-up {
  @include media-breakpoint-up(sm) {
    display: none !important;
  }
}

.heading-image {
  @include media-breakpoint-down(xs) {
    min-height: 400px;
    background-image: url('../images/intro/header.jpg');
    background-position: right center;
  }


  min-height: calc(350 * ((100vw - 800px) / 800) + 350px);
  background-color: var(--black);
  background-image: url('../images/intro/header-retina.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .overlay {
    @include media-breakpoint-down(xs) {
      align-items: flex-start !important;
      max-width: 90%;
      margin: 5px;
    }


    @media (min-width: $header-width-constraint) {
      max-width: 700px;
    }

    align-items: center !important;
    max-width: 70vw;
    margin: 40px 20px 0px 20px;

    .head-1 {
      @include media-breakpoint-down(xs) {
        @include font-size(30px);
      }


      @media (min-width: $header-width-constraint) {
        @include font-size(51px);
      }

      color: $white;
      font-size: 5vw;
      font-weight: 300;
      white-space: nowrap;
    }

    .head-2 {
      @include media-breakpoint-down(xs) {
        @include font-size(30px);

        text-align: left;
      }


      @media (min-width: $header-width-constraint) {
        @include font-size(51px);
      }

      color: $white;
      font-size: 5vw;
      font-weight: 600;
      white-space: nowrap;
    }

    .sep {
      @include media-breakpoint-down(xs) {
        min-width: 50px;
      }


      display: inline-block;
      width: 12vw;
      margin: 2vw 0vw 0vw 0vw;
      border-top: 2px solid var(--tealish);
    }

    .sub-1 {
      @include media-breakpoint-down(xs) {
        @include font-size(16px);

        text-align: left;
      }

      @media (min-width: $header-width-constraint) {
        @include font-size(19.5px);
      }

      color: $white;
      font-size: 2vw;
      font-weight: 300;
      text-align: center;
    }

    .button {
      margin-top: 50px;
    }
  }
}

.button {
  @include button();
}

.content {
  flex: 1;

  a:not(.button) {
    color: $primary;
    font-weight: 600;
    text-decoration: none;
    @include font-size(16px);
    @include media-breakpoint-down(xs) {
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .row {
    @include media-breakpoint-down(xs) {
      padding: 0px 10px 20px 10px;
    }

    max-width: 1280px;
    margin: auto;
    padding: 0px 20px 40px 20px;

    .col,
    .col-6,
    .col-12 {
      @include media-breakpoint-down(xs) {
        padding: 15px 15px 0px 15px;
      }


      padding: 30px 30px 0px 30px;
    }
  }

  &.extra-padding {
    padding-bottom: 40px;
  }

  .alternate {
    background-color: #f6f6f6;
  }

  .use-cases-1 {
    @include media-breakpoint-down(xs) {
      background-image: url('../images/intro/use-cases-1.jpg');
    }


    background-image: url('../images/intro/use-cases-1-retina.jpg');
    background-size: cover;
  }

  .use-cases-2 {
    @include media-breakpoint-down(xs) {
      background-image: url('../images/intro/use-cases-2.jpg');
    }


    background-image: url('../images/intro/use-cases-2-retina.jpg');
    background-size: cover;
  }

  .inter {
    @include media-breakpoint-down(xs) {
      padding-bottom: 15px;
    }


    padding-bottom: 30px;

    .row-header {
      max-width: 1280px;
      margin: auto;

      .col,
      .col-6,
      .col-12 {
        @include media-breakpoint-down(xs) {
          padding: 10px 10px 0px 10px;
        }


        padding: 20px 20px 0px 20px;
      }
    }
  }

  .video-container {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .video {
    width: 50%;
    height: 330px;

    @include media-breakpoint-down(lg) {
      width: 75%;
    }

    @include media-breakpoint-down(md) {
      width: 85%;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}
