@import 'components';
@import './mixins';
@import './variables';

.react-joyride__spotlight {
    border: 2px solid $primary;
    background-color: transparent !important;
}

.react-joyride__overlay {
    mix-blend-mode: normal !important;
}

.react-joyride__tooltip {
  h4 {
    color: $secondary;
    text-align: left;
    font-size: 28px !important;
    font-weight: 300;
    padding: 0 10px;
  }

  .tooltip-content {
    text-align: left;
    color: $secondary;

    .action {
      color: $primary;
      font-weight: 600;
      @include font-size(16px);
    }
  }

  button[data-action~="primary"] {
    @include button($primary);
    width: 95px;
    height: 40px;
    outline: none;
    font-size: 19px !important;
    border-radius: 20px !important;
  }
}

button.react-joyride__beacon {
  outline: none !important;
}

.__floater.__floater__open {
  transition: none !important;
}
