.filepond--wrapper {
  position: fixed;
  bottom: -15px;
  width: 100%;
  -webkit-box-shadow: 0 -4px 19px -2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 -4px 19px -2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 -4px 19px -2px rgba(0, 0, 0, 0.35);
}

.filepond--drip {
  background: #fff !important;
  border-top: 1px solid #000;
}
