.detailSectionWrapper {
  border-top: 1px solid #c9c9c9;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 100px; }
  .detailSectionWrapper .detailsSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 34%;
    height: 130px;
    border-bottom: 1px solid #c9c9c9;
    padding: 0;
    margin: 0; }
    @media (max-width: 768px) {
      .detailSectionWrapper .detailsSection {
        width: 50%;
        height: 100px; }
        .detailSectionWrapper .detailsSection:not(:nth-child(2n)) {
          border-right: 1px solid #c9c9c9; } }
    @media (min-width: 769px) {
      .detailSectionWrapper .detailsSection:not(:nth-child(3n)) {
        border-right: 1px solid #c9c9c9;
        width: 33%; } }
    .detailSectionWrapper .detailsSection > span {
      color: #3f3f3f;
      margin: 0 auto; }
    .detailSectionWrapper .detailsSection .label {
      font-size: 18px;
      font-weight: 400; }
    .detailSectionWrapper .detailsSection .value {
      font-size: 24px;
      font-weight: 700; }
