.documentsWrapper {
  max-width: 1092px;
  width: 100%;
  margin: 0 auto; }
  .documentsWrapper .md-table-row {
    cursor: default; }
    .documentsWrapper .md-table-row:last-child {
      border-bottom: none; }
    .documentsWrapper .md-table-row .md-table-column a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 700;
      color: #3f3f3f;
      padding: 2px 0 5px 55px; }
  .documentsWrapper .icon {
    background-repeat: no-repeat;
    background-size: 28px; }
    .documentsWrapper .icon.pdf {
      background-image: url(pdf_icon.png); }
    .documentsWrapper .icon.doc {
      background-image: url(doc_icon.png); }
    .documentsWrapper .icon.excel {
      background-image: url(excel_icon.png); }
    .documentsWrapper .icon.img {
      background-image: url(img_icon.png); }
