@import './_helpers';

.wrapper {
  display: flex;
  flex-direction: row;
}

.graphic {
  width: 50%;
  position: relative;

  img {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .welcome {
    position: absolute;
    text-align: center;
    top: 23%;
    width: 80%;

    svg {
      width: 75%;
      margin-bottom: 15%;
    }

    p {
      font-size: 36px;
      font-weight: 700;
      color: #ffffff;
      // width: 50%;
      text-align: center;
      line-height: 50px;
      margin-bottom: 40px;
    }
  }
}
.login {
  width: 50%;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 550px;
    min-width: 300px;
    width: 50%;

    h3 {
      color: rgb(34,177,171);
      font-size: 40px;
      font-weight: 700;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: -30px;
        right: -30px;
        height: 5px;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgb(142, 210, 213)), to(rgb(124, 88, 182)));
        background-image: -webkit-linear-gradient(left, rgb(142, 210, 213), rgb(124, 88, 182));
        background-image: -moz-linear-gradient(left, rgb(142, 210, 213), rgb(124, 88, 182));
        background-image: -o-linear-gradient(left, rgb(142, 210, 213), rgb(124, 88, 182));
      }
    }

    button.md-btn {
      margin-top: 60px;
      font-size: 22px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      padding: 35px 50px;
      width: 100%;
      line-height: 2px;
      border-radius: 45px;
      text-align: center;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      color: #ffffff;
      background: linear-gradient(90deg,#18817c,#22b1ab);
    }

    input {
      margin-top: 40px;
      font-size: 18px;
      font-weight: 700;
      padding-left: 10px;
    }

    .md-divider {
      background-color: rgb(151, 151, 151);
    }

    .md-floating-label {
      color: rgb(63, 63, 63);
      font-size: 18px;
      font-weight: 700;
      padding-left: 10px;
    }

    .md-layover {
      width: 100%;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid rgb(151, 151, 151);
      margin-top: 150px;
      margin-bottom: 50px;

      .md-select-field--btn {
        color: rgb(63, 63, 63);
        font-size: 18px;
        font-weight: 700;
        padding-left: 10px;
      }

      .md-icon-separator {
        padding-right: 0;
      }
    }

    .md-tile-content {
      .md-text {
        color: rgb(63, 63, 63);
        font-size: 18px;
        font-weight: 700;
      }
    }

    .bouncing-loader.visible {
      position: relative;
      top: 55px;
    }
  }
}
