.statusWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch; }
  @media (max-width: 1092px) {
    .statusWrapper {
      margin: 0 20px; } }
  .statusWrapper .status {
    min-width: 198px;
    max-width: 212px;
    width: auto;
    height: 150px;
    background-color: #e8f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    margin: 12px 6px;
    padding: 0 20px; }
    .statusWrapper .status:not(:first-child):before {
      content: "";
      position: absolute;
      bottom: 55px;
      left: -20px;
      height: 28px;
      width: 28px;
      background-image: url("./arrow_icon.png");
      background-repeat: no-repeat; }
    .statusWrapper .status:not(:last-child):after {
      content: "";
      position: absolute;
      bottom: 55px;
      right: -20px;
      height: 28px;
      width: 28px;
      background-image: url(arrow_icon.png);
      background-repeat: no-repeat; }
    .statusWrapper .status .value {
      font-size: 18px;
      font-weight: 400;
      color: #3f3f3f; }
    .statusWrapper .status div {
      color: #22b1ab;
      font-size: 18px;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      .statusWrapper .status div .day {
        font-size: 36px;
        line-height: 36px; }
      .statusWrapper .status div .time {
        font-weight: 400; }
