.toast-container {
  top: 40% !important;
  left: 50%;
  text-align: center;
  display: flex;
  flex-direction: column; }
  .toast-container > div {
    -webkit-box-shadow: 0px 0px 24px 3px rgba(149, 149, 149, 0.5);
    -moz-box-shadow: 0px 0px 24px 3px rgba(149, 149, 149, 0.5);
    box-shadow: 0px 0px 24px 3px rgba(149, 149, 149, 0.5);
    background-size: 48px;
    background-position: center 37px !important;
    background-repeat: no-repeat;
    border-radius: 3px !important;
    background-color: #ffffff;
    min-height: 188px;
    height: auto;
    margin: 0; }
    .toast-container > div.Toastify__toast--success {
      background-image: url(success.svg); }
    .toast-container > div.Toastify__toast--error {
      background-image: url(error.svg); }
    .toast-container > div.Toastify__toast--warning {
      background-image: url(warning.svg); }
    .toast-container > div .Toastify__close-button {
      width: 0; }

.toast-body {
  color: #3f3f3f;
  font-size: 24px;
  margin: 100px 0 30px; }
